In [1]:
# import ting
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
# load in the new dataframes we will be working with
crime = pd.read_csv('~/Downloads/opportunity mapper/cl_crime.csv')
rent_inc = pd.read_csv('~/Downloads/opportunity mapper/cl_rent_income.csv')
gdf_zip = gpd.read_file('~/Downloads/opportunity mapper/raw datasets/BayArea ShapeFile/s7888q.shp')
bart = pd.read_csv('~/Downloads/opportunity mapper/raw datasets/BartLatLong.csv')
caltr = pd.read_csv('~/Downloads/opportunity mapper/raw datasets/CalTrain.csv')
zip_county_crosswalk_raw = pd.read_csv('~/Downloads/opportunity mapper/raw datasets/zcta_county_crosswalk.csv')

In [3]:
# How many zip codes are in both shapefile and rent_inc?
# Clean rent_inc and shapefile for easier merge to see zip codes in common
rent_inc = rent_inc.rename(columns={'ZIP_CODE': "ZIP"})
rent_inc['ZIP'] = rent_inc['ZIP'].astype(str)
gdf_zip['ZIP'] = gdf_zip['ZIP'].astype(str)

gdf_zip.shape # (187, 6)
rent_inc.shape # (290, 21)
gdf_zip.merge(rent_inc, how='inner', on="ZIP").shape # returns (184, 26)

# assign so rent_inc merged with ONLY zipcodes that the gdf contains
gdf_rent_inc = gdf_zip.merge(rent_inc, how='inner', on="ZIP")

# The shapefile with Bay Area zip codes inner joined on the rent_inc zip codes results
# in us having 184 zip codes to work with.

In [4]:
# make transit df
# First, set some method to tell which rows of concatted df are BART or CalTrain
# (Ignore BART column, that's from original CSV and not relevant)
bart['IS_BART'] = True
caltr['IS_BART'] = False
transit = pd.concat([bart, caltr])
gdf_stations = gpd.GeoDataFrame(
    transit,
    geometry=gpd.points_from_xy(transit.X, transit.Y),
    crs="EPSG:4326"  # Standard Lat/Lon projection
)
gdf_stations = gdf_stations.to_crs(gdf_zip.crs) # use same coordinate system as zip codes
transit_join = gpd.sjoin(gdf_zip, gdf_stations, how='inner', predicate='contains') # find which zip code polygon contains which station
transit_join['BART_COUNT'] = transit_join['IS_BART'].astype(int) # convert boolean values to ints
transit_join['CalTrain_COUNT'] = transit_join['IS_BART'].astype(int)
transit_cnt = transit_join.groupby('ZIP').agg({'BART_COUNT': 'sum', 'CalTrain_COUNT': 'sum'}).reset_index()
transit_cnt['TOTAL_TRANSIT'] = transit_cnt['BART_COUNT'] + transit_cnt['CalTrain_COUNT']
transit_cnt # all transit zip codes have their totals available now!

      ZIP  BART_COUNT  CalTrain_COUNT  TOTAL_TRANSIT
0   94002           0               0              0
1   94010           0               0              0
2   94014           2               2              4
3   94025           0               0              0
4   94027           0               0              0
5   94030           1               1              2
6   94040           0               0              0
7   94063           0               0              0
8   94066           1               1              2
9   94070           0               0              0
10  94080           1               1              2
11  94086           0               0              0
12  94102           1               1              2
13  94103           1               1              2
14  94105           2               2              4
15  94107           0               0              0
16  94110           2               2              4
17  94112           1               1              2
18  94128           1               1              2
19  94131           1               1              2
20  94134           0               0              0
21  94301           0               0              0
22  94401           0               0              0
23  94402           0               0              0
24  94403           0               0              0
25  94509           1               1              2
26  94520           2               2              4
27  94530           2               2              4
28  94538           1               1              2
29  94539           1               1              2
30  94541           1               1              2
31  94544           1               1              2
32  94546           1               1              2
33  94549           1               1              2
34  94563           1               1              2
35  94565           4               4              8
36  94568           2               2              4
37  94577           1               1              2
38  94580           1               1              2
39  94587           1               1              2
40  94596           2               2              4
41  94601           1               1              2
42  94607           2               2              4
43  94609           1               1              2
44  94612           2               2              4
45  94618           1               1              2
46  94621           3               3              6
47  94702           1               1              2
48  94703           1               1              2
49  94704           1               1              2
50  94801           1               1              2
51  95035           1               1              2

In [5]:
# Let's ensure that all the zip codes (or at least most of them) in transit_cnt are
# are in the new gdf_zip.

gdf_rent_inc.shape # returns 184 rows
transit_cnt.shape # returns 52 rows

gdf_rent_inc.merge(transit_cnt, how='inner', on='ZIP').shape
# ^^^ returns 51 rows, meaning we got all but one. The missing zip code is 94128, which serves
# the SFO airport primarily, so we don't really care about it anyway. Drop it. Merge away!
transit_cnt = transit_cnt[transit_cnt['ZIP'] != 94128]
gdf_rent_inc_transport = gdf_rent_inc.merge(transit_cnt, how='left', on='ZIP').fillna({'BART_COUNT': 0, 'CalTrain_COUNT': 0, 'TOTAL_TRANSIT': 0})
gdf_rent_inc_transport

,ZIP,PO_NAME,STATE,Area__,Length__,geometry,HUD_AREA_CODE,CITY_STATE,RENT_STUDIO,RENT_STUDIO_90,...,RENT_3BD_110,RENT_4BD,RENT_4BD_90,RENT_4BD_110,GEO_ID,MEDIAN_INCOME_HOUSEHOLD_EST,TOTAL_HOUSEHOLDS_EST,BART_COUNT,CalTrain_COUNT,TOTAL_TRANSIT
0,94558,NAPA,CA,1.231326e+10,995176.225313,"POLYGON ((-122.10329 38.51328, -122.10348 38.5...",METRO34900M34900,"Napa, CA MSA",2000,1800,...,4059,4320,3888,4752,860Z200US94558,109444,24501,0.0,0.0,0.0
1,94558,NAPA,CA,1.231326e+10,995176.225313,"POLYGON ((-122.10329 38.51328, -122.10348 38.5...",METRO46700M46700,"Vallejo, CA MSA",2000,1800,...,4059,4320,3888,4752,860Z200US94558,109444,24501,0.0,0.0,0.0
2,95620,DIXON,CA,7.236950e+09,441860.201400,"POLYGON ((-121.65336 38.31339, -121.6934 38.31...",METRO46700M46700,"Vallejo, CA MSA",1560,1404,...,3212,3300,2970,3630,860Z200US95620,100224,7805,0.0,0.0,0.0
3,95476,SONOMA,CA,3.001414e+09,311318.546326,"POLYGON ((-122.40684 38.15568, -122.40757 38.1...",METRO34900M34900,"Napa, CA MSA",1970,1773,...,4323,4200,3780,4620,860Z200US95476,108322,14996,0.0,0.0,0.0
4,95476,SONOMA,CA,3.001414e+09,311318.546326,"POLYGON ((-122.40684 38.15568, -122.40757 38.1...",METRO42220M42220,"Santa Rosa-Petaluma, CA MSA",1970,1773,...,4323,4200,3780,4620,860Z200US95476,108322,14996,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,94022,LOS ALTOS,CA,4.211365e+08,137369.776481,"POLYGON ((-122.09598 37.38605, -122.09707 37.3...",METRO41940M41940,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...",3160,2844,...,6061,5970,5373,6567,860Z200US94022,"250,000+",7268,0.0,0.0,0.0
180,94085,SUNNYVALE,CA,9.054792e+07,47415.860456,"POLYGON ((-121.98689 37.38866, -121.98688 37.3...",METRO41940M41940,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...",3180,2862,...,6138,6070,5463,6677,860Z200US94085,183563,9112,0.0,0.0,0.0
181,94086,SUNNYVALE,CA,1.289431e+08,65560.361543,"POLYGON ((-122.06 37.3753, -122.05835 37.38024...",METRO41940M41940,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...",2910,2619,...,5621,5570,5013,6127,860Z200US94086,180217,20166,0.0,0.0,0.0
182,94024,LOS ALTOS,CA,2.966973e+08,136286.642980,"POLYGON ((-122.09598 37.38605, -122.09599 37.3...",METRO41940M41940,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...",3260,2934,...,6303,6240,5616,6864,860Z200US94024,"250,000+",8016,0.0,0.0,0.0
183,94087,SUNNYVALE,CA,1.843369e+08,74339.948036,"POLYGON ((-122.0624 37.35929, -122.0624 37.359...",METRO41940M41940,"San Jose-Sunnyvale-Santa Clara, CA HUD Metro F...",3090,2781,...,5973,5910,5319,6501,860Z200US94087,200778,20384,0.0,0.0,0.0

In [6]:
##### gdf_rent_inc_transport now contains all zip codes with geospacial data, rent/income data,
# and transportation data in one data frame. All that's left to do is merge crime.
# Unfortunately, crime isn't granular by zip code, only by county, so we'll have to workaround.
# We'll be using the census' "zcta_county_rel_10" zip-to-county crosswalk to make our
# map. First, let's clean it up.
zip_county_crosswalk = zip_county_crosswalk_raw[['ZCTA5', 'STATE', 'COUNTY', 'ZPOP']] # Keep only zip code, state, county, and population (for only assigning zip to county with majority of population there).
zip_county_crosswalk = zip_county_crosswalk[zip_county_crosswalk['STATE'] == 6] # keep only California (FIPS CODE=6)

zip_county_crosswalk = zip_county_crosswalk.sort_values('ZPOP', ascending=False) # Sort by population so the largest section of population comes first
zip_county_crosswalk = zip_county_crosswalk.drop_duplicates(subset=['ZCTA5']) # Keep only one row per ZIP code

# now manually, we say what fips code matches up with which county. easy google.
fips_to_name = {
    1: "Alameda",
    13: "Contra Costa",
    41: "Marin",
    55: "Napa",
    75: "San Francisco",
    81: "San Mateo",
    85: "Santa Clara",
    95: "Solano",
    97: "Sonoma"
}
#renaming time
zip_county_crosswalk['COUNTY_NAME'] = zip_county_crosswalk['COUNTY'].map(fips_to_name)
zip_county_crosswalk = zip_county_crosswalk.dropna(subset=['COUNTY_NAME']).rename(columns={'ZCTA5':'ZIP'})
zip_county_crosswalk.drop(columns={'STATE', 'COUNTY'}, inplace=True) # we now have a mapper from zip code to county_name! drop county (with its fips code) and replace with county_name
zip_county_crosswalk = zip_county_crosswalk.rename(columns={'COUNTY_NAME': "COUNTY"}) # for easier merge with crime later on
zip_county_crosswalk

#make both zips as type Strings
gdf_rent_inc_transport['ZIP'] = gdf_rent_inc_transport['ZIP'].astype(str)
zip_county_crosswalk['ZIP'] = zip_county_crosswalk['ZIP'].astype(str)

# now we merge crosswalk to gdf_, then crime to crosswalk. then drop crosswalk for finished dataframe.
middleman_df = gdf_rent_inc_transport.merge(zip_county_crosswalk, how='left', on='ZIP')
middleman_df.loc[8, 'COUNTY'] = 'Solano' #fill in the on NaN left
# quickly rename 'county_name' in gdf_rent_inc_transport to 'county' for easier merge
final_df = middleman_df.merge(crime, how='left', on='COUNTY')
# our final_df has a lot of unnecessary repetitve columns from all these merges. let's clean it up.
final_df.drop(columns={'PO_NAME', 'STATE', 'HUD_AREA_CODE'}, inplace=True)
# Finally, let's clean up the CITY_STATE column to show only the city
final_df['CITY_STATE'] = final_df['CITY_STATE'].str.split(', CA').str[0]
final_df.rename(columns={'CITY_STATE': 'CITY'}, inplace=True)

In [7]:
# The last thing we oughta do is put a checker for median_household_income, given that
# values cap out at 250,000+, which we can't use as a scalar later on. So, we'll convert any
# '250,000+' to the integer 250,000, and store it's string in another column for later display to user

final_df['MEDIAN_INCOME_HOUSEHOLD_EST'] = final_df['MEDIAN_INCOME_HOUSEHOLD_EST'].str.replace('+', '', regex=False)
final_df['MEDIAN_INCOME_HOUSEHOLD_EST'] = final_df['MEDIAN_INCOME_HOUSEHOLD_EST'].str.replace(',', '', regex=False)
final_df['MEDIAN_INCOME_HOUSEHOLD_EST'] = pd.to_numeric(final_df['MEDIAN_INCOME_HOUSEHOLD_EST'], errors='coerce')

# we'll use this function to find any value with 250,000 and give it a special string for the user's context
def format_income_display(val):
    if pd.isna(val):
        return "N/A"
    if val >= 250000:
        return "$250,000+"
    else:
        return f"${int(val):,}" #uses comma as an indicator for separating it at the 'thousands'

final_df['DISPLAY_MEDIAN_INCOME_HOUSEHOLD_EST'] = final_df['MEDIAN_INCOME_HOUSEHOLD_EST'].apply(format_income_display)

# Final dataframe complete!
final_df

,ZIP,Area__,Length__,geometry,CITY,RENT_STUDIO,RENT_STUDIO_90,RENT_STUDIO_110,RENT_1BD,RENT_1BD_90,...,TOTAL_TRANSIT,ZPOP,COUNTY,2020_CRIMERATE_VIOL,2024_CRIMERATE_VIOL,CHANGE_IN_CRIME_VIOL%,2020_CRIMERATE_PROP,2024_CRIMERATE_PROP,CHANGE_IN_CRIME_PROP%,DISPLAY_MEDIAN_INCOME_HOUSEHOLD_EST
0,94558,1.231326e+10,995176.225313,"POLYGON ((-122.10329 38.51328, -122.10348 38.5...",Napa,2000,1800,2200,2210,1989,...,0.0,66830.0,Napa,0.003905,0.003132,80.206877,0.016708,0.012410,74.272000,"$109,444"
1,94558,1.231326e+10,995176.225313,"POLYGON ((-122.10329 38.51328, -122.10348 38.5...",Vallejo,2000,1800,2200,2210,1989,...,0.0,66830.0,Napa,0.003905,0.003132,80.206877,0.016708,0.012410,74.272000,"$109,444"
2,95620,7.236950e+09,441860.201400,"POLYGON ((-121.65336 38.31339, -121.6934 38.31...",Vallejo,1560,1404,1716,1710,1539,...,0.0,20553.0,Solano,0.005181,0.004771,92.080192,0.023567,0.022392,95.011486,"$100,224"
3,95476,3.001414e+09,311318.546326,"POLYGON ((-122.40684 38.15568, -122.40757 38.1...",Napa,1970,1773,2167,2180,1962,...,0.0,35394.0,Sonoma,0.004525,0.002793,61.724677,0.013116,0.010903,83.124163,"$108,322"
4,95476,3.001414e+09,311318.546326,"POLYGON ((-122.40684 38.15568, -122.40757 38.1...",Santa Rosa-Petaluma,1970,1773,2167,2180,1962,...,0.0,35394.0,Sonoma,0.004525,0.002793,61.724677,0.013116,0.010903,83.124163,"$108,322"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,94022,4.211365e+08,137369.776481,"POLYGON ((-122.09598 37.38605, -122.09707 37.3...",San Jose-Sunnyvale-Santa Clara,3160,2844,3476,3540,3186,...,0.0,18500.0,Santa Clara,0.003172,0.004290,135.269837,0.022564,0.023550,104.368869,"$250,000+"
180,94085,9.054792e+07,47415.860456,"POLYGON ((-121.98689 37.38866, -121.98688 37.3...",San Jose-Sunnyvale-Santa Clara,3180,2862,3498,3610,3249,...,0.0,21247.0,Santa Clara,0.003172,0.004290,135.269837,0.022564,0.023550,104.368869,"$183,563"
181,94086,1.289431e+08,65560.361543,"POLYGON ((-122.06 37.3753, -122.05835 37.38024...",San Jose-Sunnyvale-Santa Clara,2910,2619,3201,3310,2979,...,0.0,45697.0,Santa Clara,0.003172,0.004290,135.269837,0.022564,0.023550,104.368869,"$180,217"
182,94024,2.966973e+08,136286.642980,"POLYGON ((-122.09598 37.38605, -122.09599 37.3...",San Jose-Sunnyvale-Santa Clara,3260,2934,3586,3710,3339,...,0.0,22385.0,Santa Clara,0.003172,0.004290,135.269837,0.022564,0.023550,104.368869,"$250,000+"
183,94087,1.843369e+08,74339.948036,"POLYGON ((-122.0624 37.35929, -122.0624 37.359...",San Jose-Sunnyvale-Santa Clara,3090,2781,3399,3520,3168,...,0.0,54293.0,Santa Clara,0.003172,0.004290,135.269837,0.022564,0.023550,104.368869,"$200,778"

In [8]:
# Export
final_df.to_csv('final_df1.csv', index=False)